.container-header-common {
	display: inline-block;
}
.container-header {
	background-color: #F4726D;
}

.container-header-logo {
	width:40px;
	height:40px;
	display: inline-block;
}
.container-header-search {
	display: inline-block;
}
.container-header-ul {
	display: inline-block;
}
.container-header-right {
	display: inline-block;
}
.primary-btn {
	
}